extends ../layouts/main
block head
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
block content
    #header-bg
    #sub-header-bg
    #body-wrapper
      #header
        a#logo(href='/')
        #search-container
          form#search(method='post')
            input.search(type='text', onfocus="if(this.value == 'Search Template') { this.value = ''; }", onblur="if(this.value == '') { this.value = 'Search Template'; }", value='Search Template')             
            button(type='submit') Submit        
        ul#navigation
          li
            a(href='/') Home            
          li.current
            a(href='/templates/') Templates           
          li
            a(href='/contact') Contact
      #content.container.clearfix
        p#back-top(style='display: block;')
          a(href='#top')
            span
        ul.filter.group
          li.all
            a(href='/templates/all') All
          li.responsive
            a(href='/templates/responsive') Responsive
          li.current.animation
            a(href='/templates/animated') Gif Animation
        #projects4
          include ../layouts/displayedTemplates
