extends layout
block head
    #header-bg
    #sub-header-bg
        // / Header Background
        // Main Container
    #body-wrapper
        // Header
        #header
            a#logo(href='/')
block content
  #content.container.clearfix
      // Back to top
      p#back-top(style='display: block;')
        a(href='#top')
          span
      nav#page-title
        h1= message
      .shortcodes
        h1.fourofour= error.status
        #fourofour
          a.btn.black(href='/') Back To Home
 // pre #{error.stack}
