extends layout
block head
block content
  #content.container.clearfix
      // Back to top
      p#back-top(style='display: block;')
        a(href='#top')
          span
      nav#page-title
        h1= message
      .shortcodes
        h1.fourofour= error.status
        #fourofour
          a.btn.black(href='/') Back To Home
