extends layouts/main

block head
    script(src='/js/setuptemplate.js', type='text/javascript', charset='utf-8')
block content
    #header-bg
    #sub-header-bg
    #body-wrapper
      #header
        a#logo(href='/')
        #search-container
          form#search(method='post')
            input.search(type='text', onfocus="if(this.value == 'Search Template') { this.value = ''; }", onblur="if(this.value == '') { this.value = 'Search Template'; }", value='Search Template')             
            button(type='submit') Submit
        ul#navigation
          li
            a(href='/') Home        
          li.current
            a(href='/templates') Templates        
          li
            a(href='/contact') Contact
      #content.container.clearfix
        p#back-top(style='display: block;')
          a(href='#top')
            span
        nav#page-title
          h1!= pageTitle
        #preview-email-container
          .email-preview
            iframe(src='/mailtemplates/#{frameURL}.html', id='frame_tempalte' allowfullscreen='')
          // Main Content       
        #email-custom
          .setups
          a#showSetupEmailForm Show email setup form
          .emailsForm
            .setupService
              span#warning-message
                | Make sure that your mail account have access to other applications.
                span#close-message x
              h4 Select supported service 
              select(id="services", name="services")
                each service in supportServices
                  option(value="#{service}") #{service}
                input(type='email' id='serviceUser' placeholder="Service email address...")
                input(type='password' id='servicePassword' placeholder="Service password...")
              button#authService Connect
              span#auth-message
              h4 Mail subject:
              input(type='text' id='mailSubject' placeholder="Mail subject...")
            h4 Enter E-Mail: 
            a#addEmailInput
            .emails
              input(type='email' class='email' name="email" placeholder="recipient@mail.com")
              .addedMails
            button#sendTemplate Send email
            br
            span#message