extends layout

block head
    script(src='/js/setuptemplate.js', type='text/javascript', charset='utf-8')
block content
    #header-bg
    #sub-header-bg
    // / Header Background
    // Main Container
    #body-wrapper
      // Header
      #header
        a#logo(href='/')
        // Navigation
        #search-container
          form#search(method='post')
            input.search(type='text', onfocus="if(this.value == 'Search Template') { this.value = ''; }", onblur="if(this.value == '') { this.value = 'Search Template'; }", value='Search Template')
            |                 
            button(type='submit') Submit
        |         
        ul#navigation
          li
            a(href='/') Home
          |             
          li
            a(href='/templates') Templates
          |             
          |             
          li
            a(href='/contact') Contact
        // /Navigation
      // /Header
      // Content
      #content.container.clearfix
        // Back to top
        p#back-top(style='display: block;')
          a(href='#top')
            span
        // /Back to top
        // Page title
        nav#page-title
          h1 Project name here
        // /Page title
        // Main Content
        #preview-email-container
          .email-preview
            iframe(src='/mailtemplates/oxygen.html', id='frame_tempalte' allowfullscreen='')
          // Main Content       
        #email-custom
          .setups
          .emailsForm
            h4 Enter E-Mail: 
            a#addEmailInput
            .emails
              input(type='email', class='email', name="email", onfocus="if(this.value == 'youremail@mail.com') { this.value = ''; }", onblur="if(this.value == '') { this.value = 'youremail@mail.com'; }", value='youremail@mail.com')
            a#sendTemplate Send email
            br
            span#message
      // /Content
    // /Main Container