extends layouts/main

block head
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    script(src='/js/tutorial.js', type='text/javascript', charset='utf-8')
block content
    #header-bg
    #sub-header-bg
    #body-wrapper
      #header
        a#logo(href='/')
        #search-container
          form#search(method='post')
            input.search(type='text', onfocus="if(this.value == 'Search Template') { this.value = ''; }", onblur="if(this.value == '') { this.value = 'Search Template'; }", value='Search Template')             
            button(type='submit') Submit        
        ul#navigation
          li
            a(href='/') Home            
          li.current
            a(href='/templates/') Templates           
          li
            a(href='/contact') Contact
      #content.container.clearfix
        p#back-top(style='display: block;')
          a(href='#top')
            span
        ul.filter.group
          li.all
            a(href='/templates/all') All
          li.responsive
            a(href='/templates/responsive') Responsive
          li.animation
            a(href='/templates/animated') Gif Animation
        #tutorial
          .tutorial-step
            .tutorial-title
              .tutorial-number 1
              |Choose category
            .tutorial-image
              img(src='/images/tutorial/1.png')
          .tutorial-step
            .tutorial-title
              .tutorial-number 2
              |Select template
            .tutorial-image
              img(src='/images/tutorial/2.png')
          .tutorial-step
            .tutorial-title
              .tutorial-number 3
              |Select element and setup him
            .tutorial-image
              img(src='/images/tutorial/3.png')
          .tutorial-step
            .tutorial-title
              .tutorial-number 4
              |setup your mail service
            .tutorial-image
              img(src='/images/tutorial/4.png')
          .tutorial-step
            .tutorial-title
              .tutorial-number 5
              |setup mail recipients
            .tutorial-image
              img(src='/images/tutorial/5.png')
          .tutorial-step
            .tutorial-title
              .tutorial-number 6
              |complete!
            .tutorial-image
              img(src='/images/tutorial/6.png')