extends layout

block head
    script(type='text/javascript', src='js/jquery.prettyPhoto.js')
    script(type='text/javascript', src='js/jquery.quicksand.js')
    script(type='text/javascript', src='js/jquery.easing.1.3.js')
    script(type='text/javascript', src='js/script.js')
block content
    #header-bg
    #sub-header-bg
    // / Header Background
    // Main Container
    #body-wrapper
      // Header
      #header
        a#logo(href='/')
        // Navigation
        #search-container
          form#search(method='post')
            input.search(type='text', onfocus="if(this.value == 'Search Template') { this.value = ''; }", onblur="if(this.value == '') { this.value = 'Search Template'; }", value='Search Template')             
            button(type='submit') Submit        
        ul#navigation
          li
            a(href='/') Home            
          li.current
            a(href='/templates') Templates           
          li
            a(href='/contact') Contact
        // /Navigation
      // /Header
      // Content
      #content.container.clearfix
        // Back to top
        p#back-top(style='display: block;')
          a(href='#top')
            span
        // /Back to top
        ul.filter.group
          li.current.all
            a(href='#') All Projects                
          li.simple
            a(href='#') Simple
          li.commerce
            a(href='#') Commerce
          li.branding
            a(href='#') Branding
          li.marketing
            a(href='#') Marketing
        // Projects 4 columns
        #projects4
          ul.template.group
            li.item(data-id='id-1', data-type='simple')
              .view.overlay
                img(src='images/template/1_thumb.png', alt='mailgun')                    
                a(href='/templates/mailgun')
                  .mask
                    h3 Mailgun                            
                    p
                      | Simple, Branding
                      br
                      b 2016               
            li.item(data-id='id-2', data-type='commerce')
              .view.overlay
                img(src='images/template/2_thumb.jpg', alt='title here')                                           
                a(href='/setuptemplate')
                  .mask
                    h3 Airmail                               
                    p
                      | Simple, Branding
                      br
                      b 2016               
            li.item(data-id='id-3', data-type='branding')
              .view.overlay
                img(src='images/template/3_thumb.jpg', alt='title here')                       
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                               
                    p
                      | Simple, Branding
                      br
                      b 2016              
            li.item(data-id='id-4', data-type='marketing')
              .view.overlay
                img(src='images/template/4_thumb.jpg', alt='title here')                        
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                            
                    p
                      | Simple, Branding
                      br
                      b 2016             
            li.item(data-id='id-5', data-type='simple')
              .view.overlay
                img(src='images/template/5_thumb.jpg', alt='title here')                     
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                               
                    p
                      | Simple, Branding
                      br
                      b 2016               
            li.item(data-id='id-6', data-type='commerce')
              .view.overlay
                img(src='images/template/6_thumb.jpg', alt='title here')            
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                               
                    p
                      | Simple, Branding
                      br
                      b 2016              
            li.item(data-id='id-7', data-type='branding')
              .view.overlay
                img(src='images/template/7_thumb.jpg', alt='title here')                   
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                          
                    p
                      | Simple, Branding
                      br
                      b 2016               
            li.item(data-id='id-8', data-type='marketing')
              .view.overlay
                img(src='images/template/8_thumb.jpg', alt='title here')                      
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                               
                    p
                      | Simple, Branding
                      br
                      b 2016               
            li.item(data-id='id-9', data-type='simple')
              .view.overlay
                img(src='images/template/9_thumb.jpg', alt='title here')                       
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                                
                    p
                      | Simple, Branding
                      br
                      b 2016             
            li.item(data-id='id-10', data-type='commerce')
              .view.overlay
                img(src='images/template/10_thumb.jpg', alt='title here')                     
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                              
                    p
                      | Simple, Branding
                      br
                      b 2016            
            li.item(data-id='id-11', data-type='branding')
              .view.overlay
                img(src='images/template/11_thumb.jpg', alt='title here')                      
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                               
                    p
                      | Simple, Branding
                      br
                      b 2016              
            li.item(data-id='id-12', data-type='marketing')
              .view.overlay
                img(src='images/template/12_thumb.jpg', alt='title here')                        
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                                 
                    p
                      | Simple, Branding
                      br
                      b 2016              
            li.item(data-id='id-13', data-type='simple')
              .view.overlay
                img(src='images/template/13_thumb.jpg', alt='title here')                       
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                              
                    p
                      | Simple, Branding
                      br
                      b 2016                
            li.item(data-id='id-14', data-type='commerce')
              .view.overlay
                img(src='images/template/14_thumb.jpg', alt='title here')                       
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                                
                    p
                      | Simple, Branding
                      br
                      b 2016               
            li.item(data-id='id-15', data-type='branding')
              .view.overlay
                img(src='images/template/15_thumb.jpg', alt='title here')                       
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                               
                    p
                      | Simple, Branding
                      br
                      b 2016               
            li.item(data-id='id-16', data-type='marketing')
              .view.overlay
                img(src='images/template/16_thumb.jpg', alt='title here')                      
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                               
                    p
                      | Simple, Branding
                      br
                      b 2016               
            li.item(data-id='id-17', data-type='marketing')
              .view.overlay
                img(src='images/template/17_thumb.jpg', alt='title here')                      
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                                
                    p
                      | Simple, Branding
                      br
                      b 2016                
            li.item(data-id='id-18', data-type='marketing')
              .view.overlay
                img(src='images/template/18_thumb.jpg', alt='title here')                        
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                                
                    p
                      | Simple, Branding
                      br
                      b 2016              
            li.item(data-id='id-19', data-type='marketing')
              .view.overlay
                img(src='images/template/19_thumb.jpg', alt='title here')                       
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                             
                    p
                      | Simple, Branding
                      br
                      b 2016              
            li.item(data-id='id-20', data-type='marketing')
              .view.overlay
                img(src='images/template/20_thumb.jpg', alt='title here')                     
                a(href='/setuptemplate')
                  .mask
                    h3 Project title                               
                    p
                      | Simple, Branding
                      br
                      b 2016