extends layouts/main

block head
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
block content
    #header-bg
    #sub-header-bg
    // / Header Background
    // Main Container
    #body-wrapper
      // Header
      #header
        a#logo(href='/')
        // Navigation
        #search-container
          form#search(method='post')
            input.search(type='text', onfocus="if(this.value == 'Search Template') { this.value = ''; }", onblur="if(this.value == '') { this.value = 'Search Template'; }", value='Search Template')             
            button(type='submit') Submit        
        ul#navigation
          li
            a(href='/') Home            
          li.current
            a(href='/templates/') Templates           
          li
            a(href='/contact') Contact
        // /Navigation
      // /Header
      // Content
      #content.container.clearfix
        // Back to top
        p#back-top(style='display: block;')
          a(href='#top')
            span
        // /Back to top
        ul.filter.group
          li.all
            a(href='/templates/all') All
          li.responsive
            a(href='/templates/responsive') Responsive
          li.animation
            a(href='/templates/animated') Gif Animation
        #tutorial
          .tutorial-step
            .tutorial-title
              .tutorial-number 1
              |Choose category
            .tutorial-image
              img(src='/images/template/3_thumb.png')
          .tutorial-step
            .tutorial-title
              .tutorial-number 2
              |Choose template
            .tutorial-image
              img(src='/images/template/3_thumb.png')
          .tutorial-step
            .tutorial-title
              .tutorial-number 3
              |Setup this
            .tutorial-image
              img(src='/images/template/3_thumb.png')
          .tutorial-step
            .tutorial-title
              .tutorial-number 4
              |Select element
            .tutorial-image
              img(src='/images/template/3_thumb.png')
          .tutorial-step
            .tutorial-title
              .tutorial-number 5
              |setup menu
            .tutorial-image
              img(src='/images/template/3_thumb.png')
          .tutorial-step
            .tutorial-title
              .tutorial-number 6
              |setup your mail service
            .tutorial-image
              img(src='/images/template/3_thumb.png')
          .tutorial-step
            .tutorial-title
              .tutorial-number 7
              |setup mail recipients
            .tutorial-image
              img(src='/images/template/3_thumb.png')
          .tutorial-step
            .tutorial-title
              .tutorial-number 8
              |complete!
            .tutorial-image
              img(src='/images/template/3_thumb.png')